body {
    background-image: url("https://wallpapers.com/images/high/dynamic-background-noyvdt678wp0516v.webp");
    background-size: cover;       /* La imagen cubre todo el fondo */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed; /* Fija el fondo al hacer scroll */
}
